{% extends "users/base.html" %}

{% block content %}
    <h1 style="padding: 80px 0 0 30px;" >User List</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        {% for user in users %}
            <tbody>
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td><a href="{% url 'user_detail' user.id %}">Details</a></td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock content %}

